<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Spacer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Cadastros <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @if (User.IsInRole("Admin") || User.IsInRole("CadastroUsuarios"))
                                {
                                    <li>@Html.ActionLink("Usuários", "Index", "Usuario", new { area = "" }, null)</li>
                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("CadastroTipoEspaco"))
                                {
                                    <li>@Html.ActionLink("Tipos de Espaço", "Index", "TipoEspaco", new { area = "" }, null)</li>
                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("CadastroFormaPagamento"))
                                {
                                    <li>@Html.ActionLink("Formas de Pagamento", "Index", "FormaPagamento", new { area = "" }, null)</li>
                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("CadastroPessoas"))
                                {
                                    <li>@Html.ActionLink("Pessoa Física", "Index", "PessoaFisica", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Pessoa Jurídica", "Index", "PessoaJuridica", new { area = "" }, null)</li>
                                }
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
